<!-- Menu Button -->
        <a href="#" class="sp-button"><span></span>Menu</a>
        <!-- End Menu Button -->
        
        <!-- Side Panel -->
        <div class="sp-overlay"></div>
        <div class="side-panel">
            
            <!-- Close Button -->
            <a href="#" class="sp-close-button"></a>
            <!-- End Close Button -->
            
            <!-- Logo -->
            <!-- Your text or image into link tag -->
            <div class="sp-logo-wrap local-scroll mb-40 mb-md-10 mb-xs-0">
                <a href="users" class="logo"></a>
                
            </div>
            <!-- End Logo -->
            
            <!-- Menu -->
            <div class="sp-wrapper" id="side-panel-menu">
                
                <ul class="sp-menu-links local-scroll">
                    
                    <li>
                        <%= link_to "Home",user_path %>
                    </li>
                    
                    <li>
                        <%= link_to 'Make New Transaction' %>
                    </li>
                    
                    <!-- Item With Sub -->
                    <li>
                        <a href="#" class="sp-has-sub">Transactions <i class="fa fa-angle-down"></i></a>
                        
                        <ul class="sp-sub">
                            
                            
                        </ul>
                        
                    </li>
                    <!-- End Item With Sub -->
                    
                    <li>
                        <%= link_to "Edit Profile", edit_user_path %>
                    </li>
                    
                    <!-- Item With Sub -->
                    <li>
                        <a href="#" class="sp-has-sub">Search <i class="fa fa-angle-down"></i></a>
                        
                        <ul class="sp-sub">
                            <li>
                                <div class="mn-wrap">
                                    <form method="post" class="form align-center">
                                        <div class="search-wrap inline-block sp-search">
                                            <button class="search-button animate" type="submit" title="Start Search">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <input type="text" class="form-control search-field round" placeholder="Search...">
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        
                    </li>
                    <!-- End Item With Sub -->
                    
                </ul>
                
            </div>
            <!-- End Menu -->
            
            
            <!-- Social Links -->
            <div class="sp-social-links">
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
            </div>
            <!-- End Social Links -->
            
        </div>
        <!-- End Side Panel -->