<%= render 'sidemenu'%>

<div class="page side-panel-is-left" id="top">
    <section class="page-section bg-gray-lighter pt-0 pb-0">
        <div class="relative container">
            
        </div>
    </section>
</div>